// ------------------
// MIXINS
// ------------------

@mixin shakeHand($animationName) {
    animation-name: $animationName;
    animation-duration: 0.75s;
    animation-iteration-count: 3;
    animation-timing-function: ease-out;
}

// ------------------
// ANIMATIONS
// ------------------

@keyframes shakeHandLeft {
    60%{
        transform: rotate(75deg);
    }
}
@keyframes shakeHandRight {
    60%{
        transform: scaleX(-1) rotate(75deg);
    }
}

// ------------------
// ASSIGNMENTS
// ------------------

.hand{
    &#hand-right{
        transform: scaleX(-1) rotate(90deg);
        }
    &#hand-left{
        transform: rotate(90deg);
    }
    }

.hand-shake{
    &#hand-right{
        @include shakeHand(shakeHandRight)
        }
    &#hand-left{
        @include shakeHand(shakeHandLeft)
    }
}

