// ------------------
// IMPORTS
// ------------------

@import url(./animations.css);
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

// ------------------
// VARIABLES
// ------------------

$leberwurstLight: rgb(236, 153, 153);
$leberwurst: rgb(225, 113, 113);
$leberwurstDark: rgb(206, 104, 104);
$saureGurkeLight: #c7f698;
$saureGurke: chartreuse;
$saureGurkeDark: rgb(116, 217, 15);
$schlumpfLight: lightblue;
$schlumpf: rgb(142, 185, 200);
$schlumpfDark: rgb(127, 167, 182);
$mandarinLight: #f4c97a;
$mandarin: #f2a81f;
$mandarinDark: #d9971c;

// ------------------
// MIXINS
// ------------------

@mixin flexBox($alignItems, $justifyContent, $gap) {
    display: flex;
    flex-wrap: wrap;
    align-items: $alignItems;
    justify-content: $justifyContent;
    gap: $gap;
}

@mixin boxBorder() {
    border: solid 8px black;
    padding: 10px;
}

// ------------------
// GENERAL STYLES
// ------------------

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
}

body{
    background-color: $schlumpfLight;
    height: 100vh;
}

header{
    margin-top: 40px;
}

main{
    @include flexBox(center, center, unset);
}

footer{
    margin: 20px 0 60px 0;
}

h1{
    font-size: 2rem;
    font-family: 'Righteous', cursive;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

h3{
    font-size: 1.5rem;
}

a{
    font-family: 'Righteous', cursive;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    &:hover{
        text-decoration: underline;
    }
}

// ------------------
// SECTIONS
// ------------------

.rounds{
    @include boxBorder();
    width: 90%;
    max-width: 400px;
    h2{
        width: 100%;
        padding-bottom: 1.5rem;
    }
    &-number{
        width: 100%;
        display: block;
    }
    fieldset{
        @include flexBox(center, center, unset);
        width: 100%;
        border: none;
        label{
            display: block;
            width: 12%;
            text-align: left;
        }
        input{
            display: block;
            width: 12%;
            text-align: right;
        }
        button{
            @include boxBorder();
            background-color: $schlumpf;
            color: black;
            font-family: 'Righteous', cursive;
            width: 80%;
            margin: 10px;
            &:hover{
                background-color: $schlumpfDark;
            }
        }
    }
}

.counter{
    @include boxBorder();
    @include flexBox(unset, center, 10px);
    width: 90%;
    max-width: 400px;
    .counter-output{
        @include flexBox(baseline, unset, 40px);
        #counter-output-user,
        #counter-output-computer{
            font-size: 2.5rem;
            font-family: 'Righteous', cursive;
        }
    }
}

.big-hands{
    @include flexBox(unset, center, 20px);
    width: 100%;
    margin: 20px 0 20px 0;
    .hand{
        width: 120px;
        height: 120px;
    }
    h1{
        @include boxBorder();
        width: 90%;
        max-width: 400px;
        margin-bottom: unset;
    }
    h2{
        width: 100%;
        span{
            text-transform: uppercase;
            font-family: 'Righteous', cursive;
        }
    }
}

.play{
    @include boxBorder();
    background-color: $schlumpf;
    width: 90%;
    max-width: 400px;
    button{
        &.btn-users-hand{
            background-color: unset;
            border-radius: 50%;
            border: none;
            &:hover{
                background: $schlumpfDark;
            }
            img{
                width: 70px;
                height: 100px;
                margin: 0 15px 0 15px;
            }
        }
    }
}

// ------
// main
// ------

body .main{
background-color: $schlumpfLight;
}

.main{
    .play{
        background-color: $schlumpf;
        button{
            &.btn-users-hand{
                background-color: $schlumpf;
                &:hover{
                    background: $schlumpfDark;
                }
            }
        }
    }
}

// ------
// win
// ------

body .win{
background-color: $saureGurkeLight;
}

.win{
    .play{
        background-color: $saureGurke;
        button{
            &.btn-users-hand{
                background-color: $saureGurke;
                &:hover{
                    background: $saureGurkeDark;
                }
            }
        }
    }
}

// ------
// draw
// ------

body .draw{
    background-color: $mandarinLight;
}

.draw{
    .play{
        background-color: $mandarin;
        button{
            &.btn-users-hand{
                background-color: $mandarin;
                &:hover{
                    background: $mandarinDark;
                }
            }
        }
    }
}

// ------
// lose
// ------

body .lose{
    background-color: $leberwurstLight;
}

.lose{
    .play{
        background-color: $leberwurst;
        button{
            &.btn-users-hand{
                background-color: $leberwurst;
                &:hover{
                    background: $leberwurstDark;
                }
            }
        }
    }
}