// ------------------
// IMPORTS
// ------------------

@import url(./animations.css);
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

// ------------------
// VARIABLES
// ------------------

$leberwurst: rgb(236, 153, 153);
$saureGurke: chartreuse;
$saureGurkeDark: rgb(118, 232, 3);

// ------------------
// MIXINS
// ------------------

@mixin flexBox($alignItems, $justifyContent, $gap) {
    display: flex;
    flex-wrap: wrap;
    align-items: $alignItems;
    justify-content: $justifyContent;
    gap: $gap;
}

@mixin boxBorder() {
    border: solid 8px black;
    padding: 10px;
}

// ------------------
// GENERAL STYLES
// ------------------

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
}

body{
    background-color: $leberwurst;
    height: 100vh;
}

header{
    margin-top: 60px;
}

main{
    @include flexBox(center, center, unset);
}

footer{
    margin: 20px 0 60px 0;
}

h1{
    font-size: 2rem;
    font-family: 'Righteous', cursive;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem
}

h3{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

a{
    font-family: 'Righteous', cursive;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    &:hover{
        text-decoration: underline;
    }
}

// ------------------
// SECTIONS
// ------------------

.rounds{
    @include boxBorder();
    width: 90%;
    h2{
        width: 100%;
        padding-bottom: 1.5rem;
    }
    &-number{
        width: 100%;
        display: block;
        margin-top: 1rem;
    }
    fieldset{
        @include flexBox(center, center, unset);
        width: 100%;
        border: none;
        label{
            display: block;
            width: 12%;
            text-align: left;
        }
        input{
            display: block;
            width: 12%;
            text-align: right;
        }
        button{
            @include boxBorder();
            background-color: $saureGurke;
            width: 80%;
            margin: 10px;
            &:hover{
                background: $saureGurkeDark;
            }
        }
    }
}

.counter{
    @include boxBorder();
    @include flexBox(unset, center, 10px);
    width: 90%;
    .counter-output{
        @include flexBox(baseline, unset, 40px);
        #counter-output-user,
        #counter-output-computer{
            font-size: 2.5rem;
            font-family: 'Righteous', cursive;
        }
    }
}

.big-hands{
    @include flexBox(unset, center, 40px);
    width: 100%;
    margin: 40px 0 40px 0;
    .hand{
        width: 120px;
        height: 120px;
    }
    h1{
        @include boxBorder();
        width: 90%;
        background-color: $saureGurke;
    }
    h2{
        width: 100%;
        span{
            text-transform: uppercase;
            font-family: 'Righteous', cursive;
        }
    }
}

.play{
    @include boxBorder();
    background: $saureGurke;
    width: 90%;
    button{
        &.btn-users-hand{
            background-color: unset;
            border-radius: 50%;
            border: none;
            &:hover{
                background: $saureGurkeDark;
            }
            img{
                width: 70px;
                height: 100px;
                margin: 0 15px 0 15px;
            }
        }
    }
}